@using System.Security.Claims

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="~/adminlte-3.2.0/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte-3.2.0/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a id="userName" href="#" class="d-block"></a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item" id="dashboardNavitem">
                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link @(ViewBag.ActivePage == "Dashboard" ? "active" : "")">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>                   
                <li class="nav-item" id="universitiesNavItem">
                    <a asp-controller="Universities" asp-action="Index" class="nav-link @(ViewBag.ActivePage == "Universities" ? "active" : "")">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Universities
                        </p>
                    </a>
                </li>                  
                <li class="nav-item" id="rolesNavItem">
                    <a asp-controller="Roles" asp-action="Index" class="nav-link @(ViewBag.ActivePage == "Roles" ? "active" : "")">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Roles
                        </p>
                    </a>
                </li>                
                <li class="nav-item" id="accountsNavItem">
                    <a asp-controller="Accounts" asp-action="Index" class="nav-link @(ViewBag.ActivePage == "Accounts" ? "active" : "")">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Accounts
                        </p>
                    </a>
                </li>                   
                <li class="nav-item" id="accountRolesNavItem">
                    <a asp-controller="AccountRoles" asp-action="Index" class="nav-link @(ViewBag.ActivePage == "AccountRoles" ? "active" : "")">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Account Roles
                        </p>
                    </a>
                </li>                
                <li class="nav-item" id="profileNavItem">
                    <a asp-controller="Profile" asp-action="Index" class="nav-link @(ViewBag.ActivePage == "Profile" ? "active" : "")">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Profile
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<script>
    console.log(localStorage.getItem("roles"));
    const roles = JSON.parse(localStorage.getItem('roles')) || [];

    document.getElementById('universitiesNavItem').style.display = roles.includes('Admin') ? 'block' : 'none';
    document.getElementById('accountsNavItem').style.display = roles.includes('Admin') ? 'block' : 'none';
    document.getElementById('rolesNavItem').style.display = roles.includes('Admin') ? 'block' : 'none';
    document.getElementById('accountRolesNavItem').style.display = roles.includes('Admin') ? 'block' : 'none';
    // document.getElementById('profileNavItem').style.display = roles.includes('Employee') ? 'block' : 'none';

</script>